{% extends "layout.html" %}

{% block title %}List a New Space{% endblock %}

{% block content %}
    <h1>List of space.</h1>

    <!-- Registration Form -->
    <form method="POST" action="/spaces/new">
        {{ form.hidden_tag() }}
        
        <p>
            {{ form.name.label }}
            {{ form.name }}
        </p>
        
        <p>
            {{ form.description.label }}
            {{ form.description }}
        </p>
        
        <p>
            {{ form.price_per_night.label }}
            {{ form.price_per_night }}
        </p>
        
        <p>
            {{ form.user_id.label }}
            {{ form.user_id }}
        </p>
        
        <p>
            {{ form.submit }}
        </p>
    </form>

    <p>
        <a href="/spaces">View all Spaces</a> | 
        <a href="/index">Back to homepage</a>
    </p>
{% endblock %}
