
{% extends "layout.html" %}

{% block title %}All Spaces{% endblock %}

{% block content %}

        
        <h1>All Spaces</h1> 
        
        {% if session.get('user_id') %}
            <a href="/spaces/new">Add a new space</a>
        {% endif %}

    <div class="spaces-list">
        {% for space in spaces %}
            <div class="space-card listing_{{ space.id }}">
                <h5>
                    <a href="/spaces/{{ space.id }}/availability">
                        {{ space.name }}
                    </a>
                </h5>
                <p>{{ space.description }}</p>
            </div>
        {% endfor %}
    </div>

    <a href="/index" class="back-link">Back to homepage</a>
{% endblock %}
