{% extends "layout.html" %}

{% block title %}Availability{% endblock %}

{% block content %}
<h1>Availability</h1>
<ul class="availability-list">
    {% for availability in availabilities %}
    <li>
        <a href="/spaces/availability/{{ availability.id }}">
        Space {{ availability.space_id }}: {{ availability.available_from }} to {{ availability.available_to }}
        </a>
    </li>
    {% endfor %}
</ul>

<p style="margin-top: 20px;">
    <a href="/spaces/availability/new" class="btn">Add a new availability</a>
</p>
{% endblock %}
