{% extends "layout.html" %}

{% block title %}Availability{% endblock %}

{% block content %}

{% include "_header.html" %}

    <h1>Availability</h1>
    <ul>
        {% for availability in availabilities %}
        <li>
            <a href="/spaces/availability/{{ availability.id }}">
                Space {{ availability.space_id }}: {{ availability.available_from }} to {{ availability.available_to }}
            </a>
        </li>
        {% endfor %}
    </ul>
    <a href="/spaces/availability/new">Add a new availability</a>
</body>
</html>