{% extends "layout.html" %}

{% block title %}Create Availability{% endblock %}

{% block content %}
{% include "_header.html" %}
    <h1>New Availability</h1>

  <form action="/spaces/availability" method="post" class="availability-form">
    {% if errors %}
      <p class="t-errors">
        There were errors with your submission: {{ errors }}
      </p>
    {% endif %}

    <p>
      <label for="space_id">Space ID</label>
      <input type="text" name="space_id" id="space_id">
    </p>

    <p>
      <label for="available_from">Available From</label>
      <input type="date" name="available_from" id="available_from">
    </p>

    <p>
      <label for="available_to">Available To</label>
      <input type="date" name="available_to" id="available_to">
    </p>

    <p>
      <input type="submit" value="Create Availability" class="btn">
    </p>
  </form>
{% endblock %}
