{% extends "layout.html" %}

{% block title %}Availability for Space {{ space_id }}{% endblock %}

{% block content %}
{% include "_header.html" %}
  <h1>Availability for Space {{ space_id }}</h1>

  <ul class="availability-list">
    {% for a in availabilities %}
      <li>
        {{ a.available_from }} to {{ a.available_to }}
      </li>
    {% else %}
      <li>No availability found for this space.</li>
    {% endfor %}
  </ul>

  <p>
    <a href="/spaces/availability/new?space_id={{ space_id }}" class="btn">
      Add availability for this space
    </a>
  </p>
  <p>
    <a href="/spaces" class="back-link">Back to all spaces</a>
  </p>
{% endblock %}
