{% extends "layout.html" %}
{% block title %}New Booking{% endblock %}
{% block content %}
<h1>Make a Booking</h1>
<form method="POST" action="/bookings/new">
    <label>User ID:</label><input type="text" name="user_id" required><br>
    <label>Space ID:</label><input type="text" name="space_id" required><br>
    <label>Start Date:</label><input type="date" name="start_date" required><br>
    <label>End Date:</label><input type="date" name="end_date" required><br>
    <input type="submit" value="Book">
</form>
<a href="/bookings">Back to bookings</a>
{% endblock %}